<% if (CURRENT_USER.id === user.id) { %>
  <a href="#/users/<%= user.id %>/edit" class="edit-button">
    <i class="fa fa-pencil-square-o"></i>
  </a>
<% } %>
<div class="col-sm-4 col-xs-12 tome-sidebar">
  <img src="<%= user.escape("image_url") %>" class="profile-pic" />
  <h2 class="username"><%= user.escape("username") %></h2>
  <h4 class="truename"><%= user.escape("name") || "" %></h4>
  <p class="canon"><%= user.escape("canon") %></p>
  <p class="bio"><%= user.escape("bio") %></p>
</div>
<div class="content col-sm-8 col-xs-12 content">
  <% if (CURRENT_USER.id === user.id) { %>
    <h2>Your Shelves</h2>
  <% } else { %>
    <h2><%= user.escape("name") || user.escape("username") %>'s Shelves</h2>
  <% } %>
  <div class="shelves"></div>
  <div class="reviews-wrapper"></div>
</div>

<a class="exit-button"><i class="fa fa-times-circle"></i></a>
</div
