<div class="review-sidebar">
  <a href="#/users/<%= review.author().id %>">
    <img src="<%= review.author().escape("image75") %>" alt="" class="thumbnail" />
  </a>
</div>

<div class="review-body">
  <p class="author">
    <span class="author-text">
      <a href="#/users/<%= review.author().id %>">
        <%= review.author().escape("username") %></a>
        rated it
    </span>
    <select class="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </p>
  <p class="title">
    <%= review.escape("title") %>
  </p>
  <p class="review-content">
    <%= review.escape("body") %>
  </p>
  <p class="timestamp">
    <%= jQuery.timeago(review.escape("created_at")) %>
  </p>
</div>

<% if (CURRENT_USER.id === review.author().id) { %>
<a class="delete-review-button">
  <i class="fa fa-trash-o"></i>
</a>
<a class="edit-review-button">
  <i class="fa fa-pencil-square-o"></i>
</a>
<% } %>
