<% if (showPage === "Tome") { %>
  <div class="review-sidebar">
    <a href="#/users/<%= review.author().id %>">
      <img src="<%= review.author().escape("image_url") %>" alt="" class="thumbnail" />
    </a>
  </div>
  <div class="review-body">
    <p class="author">
      <a href="#/users/<%= review.author().id %>">
        <%= review.author().escape("username") %></a>
      <% if (review.get("rating")) { %>
        rated it <%= review.escape("rating") %>
      <% } else { %>
        reviewed it
      <% } %>
    </p>
    <p class="title">
      <%= review.escape("title") %>
    </p>
    <p class="review-content">
      <%= review.escape("body") || review.escape("rating") %>
    </p>
    <p class="timestamp">
      <%= jQuery.timeago(review.escape("created_at")) %>
    </p>
  </div>
<% } %>
