  <div class="user-form-wrapper">
    <% if flash["errors"] %>
      <div class="alert alert-danger">
          <% flash["errors"].each do |error| %>
            <p><%= error %></p>
          <% end %>
      </div>
    <% end %>
    <form class="user-form" id="<%= id %>" action="<%= url %>" method="post">
      <%= auth_token %>

      <input type="text" class="form-control" name="user[username]" placeholder="PractitionerName" value="<%= @user && @user.username %>">

      <input type="password" class="form-control" name="user[password]" placeholder="Password">

      <input type="submit" value="<%= submit_value %>" class="btn <%= button_class %> form-control">
    </form>
  </div>
