<td class="shelf-item-image">
  <a href="#/tomes/<%= tome.id %>">
    <img src="<%= tome.escape("image75") %>" class="thumbnail" />
  </a>
</td>
<td>
  <%= tome.escape("title") %><br>
</td>
<td>
  <% if (!tome.author().isEmpty()) { %>
    <span class="author"><%= tome.author().escape("username") %></span>
  <% } else { %>
    <span class="author"><%= tome.escape("author_name") || "unknown author" %></span>
  <% } %>
</td>
