<div class="tome-index-item index-item thumbnail">
  <a href="#/tomes/<%= tome.id %>">
    <div class="index-item-image">
      <img src="<%= tome.escape("image300") %>" />
    </div>
    <div class="index-item-content">
      <%= tome.escape("title") %><br>
      <% if (!tome.author().isEmpty()) { %>
        <span class="author"><%= tome.author().escape("username") %></span>
      <% } else { %>
        <span class="author"><%= tome.escape("author_name") || "unknown author" %></span>
      <% } %>
      <br>
      <select class="avg-rating">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <p class="num-ratings"><%= tome.escape("num_ratings") %> rating<% if (tome.get("num_ratings") !== 1) { %>s<% } %></p>
    </div>
  </a>
</div>
