<div class="col-sm-4 col-xs-12">
  <img src="<%= tome.escape("cover_url") %>" />
  <div class="shelf-wrapper col-sm-4 col-xs-12">
    <h4>Add to Shelf:</h4>
    <div class="add-to-shelf-wrapper"></div>
  </div>
</div>
<div class="content col-sm-8 col-xs-12">
  <h3 class="title"><%= tome.escape("title") %></h3>
  <p class="author">
    <% if (!tome.author().isEmpty()) { %>
      By <a href="#/users/<%= tome.author().id %>"><%= tome.author().escape("username") %></a> (grimoire author)
    <% } else { %>
      By <%= tome.escape("author_name") || "an unknown author" %>
    <% } %>
    <br>From <%= tome.escape("canon") || "an unknown world" %>
  </p>
  <p class="description"><%= tome.escape("description") || "No description." %></p>
  <div class="reviews-wrapper">

  </div>
</div>
<a class="exit-button"><i class="fa fa-times-circle"></i></a>
