<!DOCTYPE html>
<html>
<head>
  <title>goodtomes</title>
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="errors">
    <% if flash["errors"] %>
      <ul>
        <% flash["errors"].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
