<!DOCTYPE html>
<html>
<head>
  <title>grimoire</title>
  <%= render 'application/favicon' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'> -->
  <script src="http://widget.cloudinary.com/global/all.js"></script>

  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%=ENV['CLOUD_NAME']%>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
    };
  </script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
